# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json  # Optional: include if you use yarn exclusively
yarn.lock          # Optional: include if you use npm exclusively

# Build output
dist/
build/
*.min.js
*.min.css

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
*.lcov

# Dependency directories
jspm_packages/
bower_components/

# Optional: Cache files
*.cache
.cache/
.eslintcache
.stylelintcache

# Optional: Local development
*.local